.subitem {
  background-color: var(--color-bg-secondary);
  border-radius: 8px;
  height: 32px;
  padding: 4px 8px;
  transition: background-color 0.3s;
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;

  .text-subitem {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 0;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    background-color: var(--color-bg);
  }

  &.collapsed {
    height: 0px;
  }
}
